@model projetoMVC.Aplicacao.Models.ClienteView

@{
    ViewData["Title"] = "Cadastrar";
    
}
 <ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="@Url.Action("Index", "Home")">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="@Url.Action("Cadastrar", "Cadastro")">Cadastro</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="@Url.Action("Consultar", "Consulta")">Consultar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="@Url.Action("Pesquisar", "Pesquisa")">Pesquisar</a>
  </li>
</ul>
<hr/>
@using(Html.BeginForm())
{
        <div class="form-inline">
            <div class="form-group">
                    @Html.LabelFor(model => model.NomeCliente, htmlAttributes: new { @class = "control-label col-md-4" })

                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NomeCliente, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NomeCliente, "", new { @class = "text-danger" })
                    </div>
             </div>
              <div class="form-group">
                    @Html.LabelFor(model => model.EmailCliente, htmlAttributes: new { @class = "control-label col-md-4" })

                    <div class="col-md-10">
                        @Html.EditorFor(model => model.EmailCliente, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EmailCliente, "", new { @class = "text-danger" })
                    </div>
             </div>
              <div class="form-group">
                    @Html.LabelFor(model => model.Cpf, htmlAttributes: new { @class = "control-label col-md-4" })

                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Cpf, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Cpf, "", new { @class = "text-danger" })
                    </div>
             </div>
             <div class="form-group">
                    @Html.LabelFor(model => model.Telefone, htmlAttributes: new { @class = "control-label col-md-4" })

                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Telefone, "", new { @class = "text-danger" })
                    </div>
             </div>
             <div class="form-group">
                    @Html.LabelFor(model => model.Lojaview.NomeLoja, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                      <select>

                      </select>
                    </div>
             </div> 
             <div class="form-group">
                    @Html.LabelFor(model => model.ProdutoView.NomeProd, htmlAttributes: new { @class = "control-label col-md-4" })

                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ProdutoView.NomeProd, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NomeCliente, "", new { @class = "text-danger" })
                    </div>
             </div>
              <div class="form-group">
                    @Html.LabelFor(model => model.PagamentoView.Preco, htmlAttributes: new { @class = "control-label col-md-4" })

                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PagamentoView.Preco, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PagamentoView.Preco, "", new { @class = "text-danger" })
                    </div>
             </div>
              <div class="form-group">
                    @Html.LabelFor(model => model.PagamentoView.Quantidade, htmlAttributes: new { @class = "control-label col-md-4" })

                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PagamentoView.Quantidade, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PagamentoView.Quantidade, "", new { @class = "text-danger" })
                    </div>
             </div>
         </div>
         <br/>
          <button type="button" class="btn btn-primary">Salvar os Dados</button>
}